
.intro {
    height: 60vh;
    width: 100%;
    background: linear-gradient(275deg, #AA7ECD 0%, #02CCBA 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 0;
}

.intro h1 {
    font-weight: 300;
}

.intro h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.center-block {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
