.challenge-title {
     font-size: 1.2rem;
     font-weight: bold;
}

.challenge-disc {
     margin: 10px 10px 15px 10px;
}

.caption {
     text-align: center;
     color: black;
}

.col {
     margin-bottom: 65px;
}

.intro {
    height: 30vh;
    width: 100%;
    background: linear-gradient(275deg, #AA7ECD 0%, #02CCBA 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 0;
}

.intro h1 {
    font-weight: 300;
}

.intro h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
