/* global styles */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #525c65;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* link resources styles */
.annotation {
  font-style: italic;
}

/* button styles */

.button {
  display: block;
  background: #00b3e4;
  width: 60%;
  padding: 30px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 4rem auto;
}

.button:hover {
  opacity: .8;
  color: #fff;
}


/* header & intro styles */

header .intro {
  background: linear-gradient(275deg, #AA7ECD 0%, #02CCBA 100%);
  color: #fff;
  text-align: center;
  padding: 1rem 0 3.5rem;
}

header .intro h2 {
  font-weight: 300;
}

header .intro h1 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

/* section banner styles */

.section-banner {
  color: #fff;
  text-align: center;  
}

.section-banner h1 {
  margin-bottom: 1.5rem;
}

.section-banner h1,
.section-banner h4 {
  text-transform: uppercase;
}

.resources-header--bg {
  background: linear-gradient(275deg, #00B3E4 0%, #31C5BD 100%);
}

.art-header--bg {
  background: linear-gradient(275deg, #A97ECD 0%, #D89BE3 100%);
}



/* class photo section styles */

.main-thumb {
  width: 165px;
  height: 200px;
  margin: 20px;
  flex-basis: 165px;
  flex-grow: 1;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  transition: .5s transform;
  border: 2px solid #eee;
}

.main-thumb:hover {
  transform: scale(1.05);
}


/* RSS resource section styles */
.rss-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin-bottom: 20px;
}

.rss-thumb {
  width: 200px;
  height: 175px;
  margin: 20px;
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 1px 1px 25px 0px rgba(46, 61, 73, 0.2);
  margin: 20px 20px 120px 20px;
  border: 2px solid #dde;
  border-radius: 5px;
}

.rss-content {
  margin-top: 190px;
  margin-left: 5px;
}

.rss-content h3 {
  text-align: center;
}

/* css art section styles */
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 0 30px;
}

.art--columns div {
  margin: 10px 0px 10px 0px;
}

.art--columns-content h3 {
  margin-top: 10%;
}

.art--columns p {
  width: 90%;
}











/************************************ navigation styles ************************************/

a {
  color: #525c65;
}




/* Yearbook section */
.main p {
  text-align: center;
  max-width: 750px;
  margin: 5%;
}

.group-photos .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin-bottom: 20px;
}

/* footer styles */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: linear-gradient(275deg, #AA7ECD 0%, #D89BE3 100%);
  text-align: center;
}