/* SITE WIDE PROPERTIES*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    color: #525c65;
}

.master-footer {
    position: relative;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    min-height: 60px;
    line-height: 20px;
    color: white;
    background: linear-gradient(275deg, #AA7ECD 0%, #D89BE3 100%);
    font-size: 14px;
    font-weight: 700;
}

.master-footer a {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.master-annotation {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #525c65;
}

a:hover {
    text-decoration: underline;
}

/***********************************************************************
	STYLE GUIDE IMPLEMENTATION FOR FONTS FROM MO's ROTATING CARD CSS
************************************************************************/

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 36px;
    font-style: bold;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: #525c65;
}

blockquote {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

/***********************************************************************
	START OF NAVBAR STYLES
************************************************************************/

.master-topnav {
    overflow: hidden;
    background: linear-gradient(275deg, #AA7ECD 0%, #02CCBA 100%);
}

.master-topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.master-topnav a:hover {
    background: white;
    color: black;
    text-decoration: underline;
}

.master-active {
    background-color: white;
    color: white;
}

.master-topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .master-topnav a:not(:first-child) {
        display: none;
    }
    .master-topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .master-topnav.responsive {
        position: relative;
    }
    .master-topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .master-topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/******************************************************************
	END OF NAVBAR STYLES
*******************************************************************/

/******************************************************************
	BEGIN CARD CONTAINER SECTION FOR YEARBOOK PROFILES WRITTEN BY MO'
*******************************************************************/

.master-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.master-bluegreen-gradient {
    background: linear-gradient(275deg, #00B3E4 0%, #31C5BD 100%);
}

.master-purple-gradient {
    background: linear-gradient(275deg, #A97ECD 0%, #D89BE3 100%);
}

.master-card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

/* flip the pane when hovered */

.master-card-container:not(.manual-flip):hover .card,
.master-card-container.hover.manual-flip .card {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.master-card-container.static:hover .card,
.master-card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* flip speed goes here */

.master-card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.master-front,
.master-back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */

.master-front {
    z-index: 2;
}

/* back, initially hidden pane */

.master-back {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    z-index: 3;
}

.master-back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px;
}

/*        Style       */

.master-card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}

.master-card-container,
.master-front,
.master-back {
    width: 100%;
    height: 420px;
    border-radius: 4px;
}

.master-card .cover {
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(275deg, #AA7ECD 0%, #02CCBA 100%);
}

.master-card .cover img {
    width: 100%;
}

.master-card .user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
    object-fit: cover;
}

.master-card .user img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.master-card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.master-card .content .main {
    min-height: 160px;
}

.master-card .back .content .main {
    height: 215px;
}

.master-card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}

.master-card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.master-card .profession {
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}

.master-card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}

.master-card .footer .social-links {
    font-size: 18px;
}

.master-card .footer .social-links a {
    margin: 0 7px;
}

.master-card .footer .btn-simple {
    margin-top: -6px;
}

.master-card .header {
    padding: 15px 20px;
    height: 90px;
}

.master-card .motto {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.master-card .stats-container {
    width: 100%;
    margin-top: 50px;
}

.master-card .stats {
    display: block;
    float: left;
    width: 33.333333%;
    text-align: center;
}

.master-card .stats:first-child {
    border-right: 1px solid #EEEEEE;
}

.master-card .stats:last-child {
    border-left: 1px solid #EEEEEE;
}

.master-card .stats h4 {
    font-weight: 300;
    margin-bottom: 5px;
}

.master-card .stats p {
    color: #777777;
}

/****************************************************************
END YEARBOOK CARD DESIGN SECTION HERE
****************************************************************/

/*********************************************************************************************************************
	CSS Styles for YearBook Page.
	Guide:	Please use an id for your section and not a class. This will be your own unique space to style how you want.
**********************************************************************************************************************/

.master-pagetitle {
    margin: 10px;
}

.master-intro {
    margin: 10px;
}

.master-yearbook-section {
    margin: 10px;
}
