/**
 * @author Sotero
 * @author Frank Dip
 * @author robt9095wssas
 * @author rskovronuc6g
 */

/** ****************************************************************
 * search loader & serch info
 *******************************************************************/

.search-info {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #AA7ECD; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
